<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <SpawnPoints>
    <SpawnPoint>
      <Type>Destination</Type>
      <Position>
        <X>676.0584</X>
        <Y>1277.75464</Y>
        <Z>359.872467</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>-85.35305</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>790.254456</X>
        <Y>1289.39587</Y>
        <Z>359.8711</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>-141.968491</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Truck</Type>
      <Position>
        <X>225.597229</X>
        <Y>1244.30078</Y>
        <Z>225.035477</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>-166.004562</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Destination</Type>
      <Position>
        <X>179.210342</X>
        <Y>1244.96228</Y>
        <Z>223.814148</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>-75.12576</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>230.545074</X>
        <Y>1224.53552</Y>
        <Z>225.035431</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>-166.329117</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Truck</Type>
      <Position>
        <X>-383.0407</X>
        <Y>1214.77979</Y>
        <Z>325.216736</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>95.241</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>-416.90448</X>
        <Y>1216.10889</Y>
        <Z>325.224</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>161.58905</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Destination</Type>
      <Position>
        <X>-83.04313</X>
        <Y>1879.9856</Y>
        <Z>196.846237</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>-98.53121</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>-47.2153664</X>
        <Y>1877.83154</Y>
        <Z>196.005219</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>127.285393</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>-128.333878</X>
        <Y>1927.02222</Y>
        <Z>196.662033</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>-0.730141342</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Truck</Type>
      <Position>
        <X>-52.59577</X>
        <Y>1949.07629</Y>
        <Z>189.76236</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>34.8683</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Destination</Type>
      <Position>
        <X>166.606689</X>
        <Y>2283.752</Y>
        <Z>92.94659</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>-113.75589</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>190.469208</X>
        <Y>2476.64</Y>
        <Z>55.1393738</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>-72.35381</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>258.830475</X>
        <Y>2578.776</Y>
        <Z>44.715168</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>102.04245</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Destination</Type>
      <Position>
        <X>216.50296</X>
        <Y>2607.16846</Y>
        <Z>45.7766724</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>16.7768421</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Truck</Type>
      <Position>
        <X>365.311035</X>
        <Y>2633.08276</Y>
        <Z>44.07328</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>39.05243</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>193.409637</X>
        <Y>2760.55737</Y>
        <Z>43.002388</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>-176.824585</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Destination</Type>
      <Position>
        <X>174.626373</X>
        <Y>2741.22681</Y>
        <Z>43.0022659</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>-82.77837</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>209.5766</X>
        <Y>2758.335</Y>
        <Z>43.0019264</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>177.221649</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Destination</Type>
      <Position>
        <X>284.8022</X>
        <Y>2827.33252</Y>
        <Z>42.9953346</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>-64.669075</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>328.176636</X>
        <Y>2871.95654</Y>
        <Z>43.028923</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>154.840256</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Truck</Type>
      <Position>
        <X>435.034546</X>
        <Y>3577.97559</Y>
        <Z>32.8160324</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>-13.5875626</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Destination</Type>
      <Position>
        <X>442.655182</X>
        <Y>3559.0835</Y>
        <Z>32.8161736</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>-102.229431</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>647.429932</X>
        <Y>3501.03979</Y>
        <Z>33.56954</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>-81.58661</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>924.795349</X>
        <Y>3650.26123</Y>
        <Z>32.16458</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>177.531067</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Destination</Type>
      <Position>
        <X>885.662964</X>
        <Y>3608.51245</Y>
        <Z>32.3911819</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>-176.73407</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Truck</Type>
      <Position>
        <X>1416.07166</X>
        <Y>3622.06</Y>
        <Z>34.44344</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>-161.506866</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>1696.44434</X>
        <Y>3605.7644</Y>
        <Z>34.99804</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>178.256165</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>1981.67236</X>
        <Y>3782.55786</Y>
        <Z>31.7568855</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>169.6424</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Destination</Type>
      <Position>
        <X>1976.32446</X>
        <Y>3760.596</Y>
        <Z>31.75947</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>-144.190018</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Destination</Type>
      <Position>
        <X>2512.96533</X>
        <Y>4221.701</Y>
        <Z>39.46959</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>-121.786392</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>2893.11426</X>
        <Y>4378.322</Y>
        <Z>49.9184952</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>-66.13225</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>2907.85547</X>
        <Y>4344.66943</Y>
        <Z>49.878994</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>-68.82769</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>2553.44727</X>
        <Y>4673.94873</Y>
        <Z>33.5053368</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>17.1116</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Destination</Type>
      <Position>
        <X>2588.28174</X>
        <Y>4683.3833</Y>
        <Z>33.6419563</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>47.0469742</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>2109.28442</X>
        <Y>4768.65771</Y>
        <Z>40.76526</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>104.521347</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Destination</Type>
      <Position>
        <X>1956.62256</X>
        <Y>4649.503</Y>
        <Z>40.3212852</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>-120.927948</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>712.7401</X>
        <Y>4175.403</Y>
        <Z>40.2856636</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>-86.55055</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Destination</Type>
      <Position>
        <X>734.851</X>
        <Y>4176.27637</Y>
        <Z>40.2883034</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>-16.8779831</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>370.088562</X>
        <Y>4424.547</Y>
        <Z>62.071106</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>20.5307732</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>352.016541</X>
        <Y>4417.724</Y>
        <Z>63.4372635</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>10.3068972</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>309.999237</X>
        <Y>3386.64038</Y>
        <Z>35.9828033</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>-30.2712631</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>315.6289</X>
        <Y>3383.3335</Y>
        <Z>35.98043</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>-19.0491123</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Destination</Type>
      <Position>
        <X>366.151031</X>
        <Y>3412.61914</Y>
        <Z>35.98142</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>67.59108</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Truck</Type>
      <Position>
        <X>-64.6795044</X>
        <Y>6349.59668</Y>
        <Z>31.0660839</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>133.98967</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>-261.492126</X>
        <Y>6039.58154</Y>
        <Z>31.44624</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>50.6569061</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>-254.880157</X>
        <Y>6046.65527</Y>
        <Z>31.6400261</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>45.7133522</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Destination</Type>
      <Position>
        <X>-299.451019</X>
        <Y>6034.95264</Y>
        <Z>31.0406723</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>-51.2346344</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Destination</Type>
      <Position>
        <X>109.7262</X>
        <Y>6378.268</Y>
        <Z>30.8014412</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>16.08805</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>206.264771</X>
        <Y>6385.833</Y>
        <Z>30.9860668</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>22.1681385</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>184.55278</X>
        <Y>6394.809</Y>
        <Z>30.9587841</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>-60.6373978</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>47.8882141</X>
        <Y>6457.464</Y>
        <Z>30.9867077</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>-134.805511</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Destination</Type>
      <Position>
        <X>59.3331223</X>
        <Y>6468.19531</Y>
        <Z>30.9926949</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>-138.981781</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>428.632172</X>
        <Y>6469.18</Y>
        <Z>28.3532867</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>53.78863</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Destination</Type>
      <Position>
        <X>435.2525</X>
        <Y>6509.68848</Y>
        <Z>27.9843674</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>57.5816879</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Truck</Type>
      <Position>
        <X>1719.63123</X>
        <Y>6423.88</Y>
        <Z>32.9443779</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>155.2941</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>1686.06079</X>
        <Y>6434.4873</Y>
        <Z>31.95531</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>-170.954315</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>2978.41138</X>
        <Y>3502.47656</Y>
        <Z>70.95871</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>-77.1671753</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Destination</Type>
      <Position>
        <X>2982.25366</X>
        <Y>3489.27148</Y>
        <Z>70.95835</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>-72.26721</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>3630.56787</X>
        <Y>3754.59644</Y>
        <Z>28.09227</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>-18.4712811</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>3624.53467</X>
        <Y>3756.635</Y>
        <Z>28.0936623</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>-29.0750484</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Destination</Type>
      <Position>
        <X>3522.14258</X>
        <Y>3674.56348</Y>
        <Z>33.4618645</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>81.387085</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Destination</Type>
      <Position>
        <X>2702.66919</X>
        <Y>3454.74341</Y>
        <Z>55.2373734</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>157.526016</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>2672.44458</X>
        <Y>3517.94116</Y>
        <Z>52.280407</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>69.82709</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>2675.06934</X>
        <Y>3525.49756</Y>
        <Z>52.1106453</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>76.73255</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>2832.2688</X>
        <Y>1584.257</Y>
        <Z>24.132309</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>73.72464</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>2830.41943</X>
        <Y>1578.38879</Y>
        <Z>24.1357346</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>76.74688</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>2826.31226</X>
        <Y>1571.97253</Y>
        <Z>24.1359234</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>71.79269</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Destination</Type>
      <Position>
        <X>2860.55835</X>
        <Y>1473.95862</Y>
        <Z>24.1339264</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>74.38523</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>1403.04224</X>
        <Y>1058.66528</Y>
        <Z>113.908905</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>-89.2880554</Z>
      </Rotation>
    </SpawnPoint>
    <SpawnPoint>
      <Type>Trailer</Type>
      <Position>
        <X>1401.23218</X>
        <Y>1053.521</Y>
        <Z>113.910278</Z>
      </Position>
      <Rotation>
        <X>0</X>
        <Y>0</Y>
        <Z>-85.68043</Z>
      </Rotation>
    </SpawnPoint>
  </SpawnPoints>
</Config>